*{
    font-family: sans-serif;
}

body{
    background-color:rgb(15, 15, 15);
    display: flex;
    justify-content: center;
    align-items: center; 
}
#calculator{
    display: grid;
    grid-template-areas: "display display display display"
                          "c () % /"
                          "7 8 9 x"
                          "4 5 6 -"
                          "1 2 3 +"
                          "+/- 0 . =";
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(6,1fr);
    background-color: rgba(0, 0, 0, 0.6);
    margin: 3rem auto;
    width: 400px;
    height: 600px;
    color: orange;
    font-weight: 200;
    border: black solid;
    border-radius: 5px;
    box-shadow: 4px 4px 0.1px rgb(143, 98, 3);
    max-width: 90%;
}
.display{
    grid-column: 1/5;
}
.display{
    color: whitesmoke;
    text-align: end;
    margin: auto 0;
    font-size: 3em;
    width: 90%;
    height: auto;
    overflow: hidden;
}
button{
    margin: 1px;
    border: 1px solid rgb(15, 15, 15);
    border-radius: 100px;
    font-size: 1.2rem;
    font-weight: 600;
}
.operator-btn,
#parenthesis-btn,
#percent-btn,
#equals{
    background-color: rgb(180, 118, 2);
}
.number-btn{
    background-color: rgb(15, 15, 15);
    color: rgb(180,118,2);
    font-size: 1em;
    font-weight: 550;
}
.number-btn:hover, .operator-btn:hover{
    color: rgb(255, 255, 255);
}
.number-btn:active, .operator-btn:active{
    color: rgba(0, 0, 0, 0.801);
    background-color: rgba(15, 15, 15, 0.8);
    font-size: 0.1rem;
    transition: ease-in 150ms;
}